@model SmartKitchen3.Models.Kitchen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kitchen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationLatitudes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationLatitudes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationLongitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationLongitude)
        </dd>

    </dl>
</div>
<p>
    @Html.Partial("_BackToListButtonPartial")
    @Html.Partial("_EditButtonPartial", Model.KitchenId)
</p>
